#principal{
    flex-direction: row;
    background-color: rgb(76, 77, 78);
    position: relative;
}
#painelEsquerdo{
    width: 350px;
    background-color: rgb(76, 77, 78);
    text-align: center;
    position: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
#painelDireito{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    margin-left: 356px;
    border-radius: 28px 0 0 28px ;
    background-color: black;
}
#logo{
    margin: 0;
}
#navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    flex: 1;
    margin-top: 30px;
}
#navbar h3{
    margin-top: 0;
}
.navBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}
.links{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: green;
}
.links:active{
    transform: scale(0.9);
    transition: all 0.3s ease;
}
#navSub{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transform: translateY(-5px);
    transition: all 0.3s ease;
    width: 230px;
}
#navSub button{
    font-size: 16px;
    margin-left: 20px;
}
#navSub.ativo {
    max-height: 120px; 
    opacity: 1;
    transform: translateY(0);
}
.opcoes{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 12px;
    margin-bottom: 10px;
    padding: 12px;
    background-color: white;
    border-radius: 12px;
    width: 220px;
}
.opcoes button{
    color: black;
}
.btnEsc{
    margin-bottom: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}
.btnEsc:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: green;
}
.divRodape{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 10px;
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.spanRodape{
    font-weight: bold;
}
.pRodape{
    margin: 0;
}
.dashDivEsq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 60%;
    gap: 25px;
}
.divEsqSon{
    width: 90%;
    min-height: 29vh;
    background-color: white;
    border-radius: 14px;
}
.dashDivDir{
    width: 90%;
    min-height: 62vh;
    background-color: white;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-shrink: 0;
}
.cabecalho h1{
    margin: 0;
    margin-top: 45px;
    font-size: 60px;
}
.cabecalho p{
    font-weight: bold;
    margin: 0;
}
.dashPrincipal{
    width: 90%;     
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(76, 77, 78);
    border-radius: 12px;
}
.btnClicado{
    color: green;
    transform: scale(1.05);
}
.btnClicado div{
    background-color: rgba(255, 255, 255, 0.596);
}
.despesaDiv{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 80%;
    background-color:  rgb(76, 77, 78);;
    padding: 20px;
    border-radius: 18px;
    gap: 20px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.despesa{
    width: 98%;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
