body{
    margin: 0;
    padding: 0;
    background-color: black;
}
#principal{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}

#formulario{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 30px 30px;
    min-width: 300px;
    width: auto;
    background-color: white;
    color: black;
}

#form{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 3px;
}

#inSubmit{
    margin-top: 15px;
    cursor: pointer;
    height: 35px;
    border: none;
    background-color: green;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}
#inSubmit:hover{
    transform: scale(1.08);
    color: white;
}

.inputs{
    height: 30px;
    min-width: 280px;
    border-radius: 7px;
    transition: all 0.3s ease;
    border: solid 2px black;
}
.inputs:focus{
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(0, 102, 255, 0.4);
    outline: none;
    border: solid 2px green;
}

#logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#opcao{
    display: flex;
    gap: 3px;
    margin-top: 13px;
    width: 100%;
    margin-bottom: 13px;
}

.hrd{
    width: 100%;
}
#tituloText{
    text-align: center;
}
#tituloText h1{
    margin-top: 0;
}
#esqueciSenha{
    margin-top: 8px;
}
#esqueciSenha a{
    font-size: 14px;
    color: green;
}

@media(max-width:760px){

    #formulario{
        font-size: 14px;
        min-width: 200px;
        padding: 5px 20px 20px 20px;
    }
}
