
#inSubmit{
    margin-top: 30px;
}
#voltarALogin{
    margin-top: 20px;
    cursor: pointer;
    height: 35px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    border-radius: 7px;
    width: 90px;
}
#voltarALogin:hover{
    transform: scale(1.09);
}
.termos-check{
    margin-top: 17px;
}
.termos-check input{
    width: 16px;
    height: 16px;
}
#inSenha{
    min-width: 240px;
    width: auto;
}
#mostrarSenha{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
#mostrarSenha:hover{
    opacity: 0.7;
}
@media(max-width:760px){
    body{
        font-size: 12px;
    }
    #voltarALogin{
        margin-top: 10px;
    }
    #formulario{
        padding: 5px 20px 20px 20px;
        min-width: 200px;
    }
    #logo{
        margin: 0;
    }
}