#principal{
    flex-direction: row;
    background-color: rgb(76, 77, 78);
}
#painelEsquerdo{
    min-height: 100vh;
    height: auto;
    width: 17%;
    background-color: rgb(76, 77, 78);
    text-align: center;
    position: fixed;
}
#painelDireito{
    min-height: 100vh;
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    margin-left: 350px;
    border-radius: 28px 0 0 28px ;
    background-color: black;
}
#painelDireito h1{
    margin-top: 30px;
}
#logo{
    margin-top: 0;
}
#navbar{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    min-height: 65vh;
}
.navBtn{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    width: 220px;
}
.links{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}
.links:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: green;
}
.links:active{
    transform: scale(0.9);
    transition: all 0.3s ease;
}
#navSub{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transform: translateY(-5px);
    transition: all 0.3s ease;
    width: 230px;
}
#navSub button{
    font-size: 16px;
    margin-left: 20px;
}
#navSub.ativo {
    max-height: 120px; 
    opacity: 1;
    transform: translateY(0);
}
.opcoes{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 12px;
    margin-bottom: 20px;
    padding: 12px;
    background-color: white;
    border-radius: 12px;
    width: 220px;
}
.opcoes button{
    color: black;
}
.btnEsc{
    margin-bottom: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}
.btnEsc:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: green;
}
#rodape{
    margin-top: 50px;
}
.spanRodape{
    font-weight: bold;
}
.dashDivEsq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    gap: 25px;
}
.divEsqSon{
    width: 90%;
    height: 280px;
    background-color: white;
    margin-left: 40px;
    border-radius: 14px;
}
.divEsqSon img{
    width: 580px;
    height: 280px;
}
.dashDivDir{
    width: 90%;
    min-height: 62vh;
    background-color: white;
    margin-right: 40px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cabecalho{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 70px;
    width: 90%;
    text-align: left;
    display: flex;
    align-items: center;
}
#cabecalho h1{
    margin: 0;
    margin-top: 50px;
    font-size: 60px;
}
.dashPrincipal{
    width: 90%;     
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-color: rgb(76, 77, 78);
    border-radius: 12px;
}
.btnClicado{
    color: green;
    transform: scale(1.05);
}
.btnClicado div{
    background-color: rgba(255, 255, 255, 0.596);
}
