#principal{
    flex-direction: row;
    background-color: rgb(24, 24, 24);
    position: relative;
}
#painelEsquerdo{
    width: 350px;
    background-color: rgb(24, 24, 24);
    text-align: center;
    position: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
#painelDireito{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    margin-left: 356px;
    border-radius: 28px 0 0 28px ;
    background-color: rgb(15, 14, 14);
}
#logo{
    margin: 0;
}
#navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    flex: 1;
    margin-top: 30px;
}
#navbar h3{
    margin-top: 0;
}
.navBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}
.links{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: green;
}
.links:active{
    transform: scale(0.9);
    transition: all 0.3s ease;
}
#navSub{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transform: translateY(-5px);
    transition: all 0.3s ease;
    width: 230px;
}
#navSub button{
    font-size: 16px;
    margin-left: 20px;
}
#navSub.ativo {
    max-height: 120px; 
    opacity: 1;
    transform: translateY(0);
}
.opcoes{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 12px;
    margin-bottom: 10px;
    padding: 12px;
    background-color: white;
    border-radius: 12px;
    width: 220px;
    box-shadow: 0 8px 24px rgba(255, 255, 255, 0.041);
}
.opcoes button{
    color: black;
}
.btnEsc{
    margin-bottom: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}
.btnEsc:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: green;
}
.divRodape{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 10px;
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.spanRodape{
    font-weight: bold;
}
.pRodape{
    margin: 0;
}
.dashDivEsq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 60%;
    gap: 25px;
}
.divEsqSon{
    width: 90%;
    min-height: 29vh;
    background-color: rgb(179, 176, 176);
    border-radius: 14px;
}
.dashDivDir{
    width: 90%;
    min-height: 62vh;
    background-color: rgb(179, 176, 176);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    width: 90%;
    display: flex;
    align-items: center;
}
.cabecalho h1{
    margin: 0;
    margin-top: 30px;
    font-size: 60px;
}
.cabecalho p{
    font-weight: bold;
    font-size: 18px;
}
.dashPrincipal{
    width: 90%;     
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(46, 45, 45);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(46, 45, 45, 0.35);
}
.btnClicado{
    color: green;
    transform: scale(1.05);
}
.btnClicado div{
    background-color: rgba(255, 255, 255, 0.596);
}
.despesaDiv{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 90%;
    background-color:  rgb(46, 45, 45);
    padding: 20px;
    border-radius: 18px;
    gap: 20px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.40);
}
.despesa{
    width: 98%;
    padding: 10px;
    background-color: rgb(129, 127, 127);
    color: black;
    font-weight: bold;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 6px 18px rgba(179, 176, 176, 0.10);
}
.divBtnAdd{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 50%;
    height: 133px;
    gap: 15px;
}
#btnFiltro{
    background-color: rgb(85, 85, 209);
    width: 100px;
    box-shadow: 0 8px 22px rgba(85, 85, 209, 0.10);
}
#btnFiltro:hover{
    background-color: rgb(113, 113, 230);
}
.btn-Opcoes-Des{
    background-color: rgb(21, 112, 21);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: 0 8px 22px rgba(73, 155, 73, 0.12);
}
.btn-Opcoes-Des:hover{
    background-color: rgb(73, 155, 73);
    transition: all 0.3s ease;
}
.btn-Opcoes-Des:active{
    transform: scale(0.9);
}
.divTextos{
    width: 70%;
}
#btnExcluir{
    background-color: rgb(204, 42, 42);
    box-shadow: 0 8px 22px rgba(204, 42, 42, 0.12);
}
#btnExcluir:hover{
    background-color: rgb(212, 72, 72);
}
#btnAtualizar{
    background-color: rgb(187, 139, 51);
    box-shadow: 0 8px 22px rgba(187, 139, 51, 0.12);
}
#btnAtualizar:hover{
    background-color: rgb(216, 174, 95);
}
#btnFiltroPagas{
    background-color: rgb(15, 14, 14);
    padding-bottom: 0;
    box-shadow: none;
}
#btnFiltroPendentes{
    background-color: rgb(15, 14, 14);
    padding-bottom: 0;
    box-shadow: none;
}
.filtroAtivo{
    text-decoration: underline;
    color: rgb(21, 112, 21);
}
.divNavBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
}
.style-div-despesas{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}
.camposDeAcoes{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.camposValoresDiv{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
.camposValoresDiv h2{
    margin: 0;
}
.campoAcoes{
    padding-right: 14px;
}