
#inSubmit{
    margin-top: 20px;
}
#voltarALogin{
    margin-top: 15px;
    cursor: pointer;
    height: 35px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    border-radius: 7px;
    width: 90px;
}
#voltarALogin:hover{
    transform: scale(1.09);
}
#tituloText p{
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
}
.termos-check{
    margin-top: 17px;
}
.termos-check input{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
#mostrarSenha{
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 4%;
}
#mostrarSenha:hover{
    opacity: 0.7;
}
#formulario{
    padding-bottom: 11px;
}
#containerSenha{
    position: relative;
}
@media(max-width:760px){
    body{
        font-size: 12px;
    }
    #voltarALogin{
        margin-top: 10px;
    }
    #formulario{
        padding: 5px 20px 20px 20px;
        min-width: 200px;
    }
    #logo{
        margin: 0;
    }
}